{# Dywee\CMSBundle\Resources\View\CMS\form.html.twig #}

{% set langDropDown %}
<div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" width="18" />
        <i class="fa fa-caret-down fa-caret-down-btn-correct"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="javascript:void(0)" onclick="showLang(1)">
                <img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" width="18" /> Français
            </a>
        </li>
        <li><a href="javascript:void(0)" onclick="showLang(2)">
                <img src="{{ asset('bundles/dyweecore/images/flags/48/en.png') }}" width="18" /> Anglais
            </a>
        </li>
        <li><a href="javascript:void(0)" onclick="showLang(3)">
                <img src="{{ asset('bundles/dyweecore/images/flags/48/nl.png') }}" width="18" /> Néerlandais
            </a>
        </li>
    </ul>
</div>
{% endset %}

{{ form_start(form, {"attr": {"class": "form-horizontal"}}) }}

{{ form_errors(form) }}

{{ form_widget(form.sauvegarder, {'attr': {'class': 'btn btn-success pull-right'}}) }}

<ul id="descriptions" class="nav nav-tabs">
    <li class="active"><a href="#content" data-toggle="tab"><i class="fa fa-font"></i> Contenu</a></li>
    <li><a href="#seo" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Référencement</a></li>
    <li><a href="#settings" data-toggle="tab"><i class="fa fa-cog"></i> Paramètres</a></li>
</ul>

<div class="spacer"></div>

<div class="tab-content">
    <div class="tab-pane fade in active" id="content">
        <div class="col-md-12">
                {{ form_errors(form.content) }}
                <div class="col-md-11 medium">
                    {{ form_widget(form.content, {"attr": {"class": "form-control ckeditor" }}) }}
                </div>

        </div>
    </div>
    <div class="tab-pane fade in" id="seo">
        <div class="form-group">
            {{ form_label(form.metaTitle, "Meta Titre", {"label_attr": {"class": "label-control col-sm-2"}}) }}
            {{ form_errors(form.metaTitle) }}
            <div class="col-sm-9">
                    {{ form_widget(form.metaTitle, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.metaDescription, "Meta Description", {"label_attr": {"class": "label-control col-sm-2"}}) }}
            {{ form_errors(form.metaDescription) }}
            <div class="col-sm-9">
                    {{ form_widget(form.metaDescription, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.metaKeywords, "Meta Keywords", {"label_attr": {"class": "label-control col-sm-2"}}) }}
            {{ form_errors(form.metaKeywords) }}
            <div class="col-sm-9">
                    {{ form_widget(form.metaKeywords, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.seoUrl, "Url", {"label_attr": {"class": "label-control col-sm-2"}}) }}
            {{ form_errors(form.seoUrl) }}
            <div class="col-sm-9">
                    {{ form_widget(form.seoUrl, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>

    </div>
    <div class="tab-pane fade in" id="settings">

        <div class="form-group">
            {{ form_label(form.name, "Nom", {"label_attr": {"class": "control-label col-sm-2"}}) }}
                {{ form_errors(form.name) }}
            <div class="col-md-9">
                    {{ form_widget(form.name, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.type, "Type de page", {"label_attr": {"class": "col-sm-2 control-label"}}) }}
            {{ form_errors(form.type) }}
            <div class="col-md-9">
                {{ form_widget(form.type, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.inMenu, "In menu", {"label_attr": {"class": "col-sm-2 control-label"}}) }}
            {{ form_errors(form.inMenu) }}
            <div class="col-md-9">
                {{ form_widget(form.inMenu, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.menuOrder, "Ordre dans le menu", {"label_attr": {"class": "col-sm-2 control-label"}}) }}
            {{ form_errors(form.menuOrder) }}
            <div class="col-md-9">
                {{ form_widget(form.menuOrder, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.menuName, "Nom dans le menu", {"label_attr": {"class": "col-sm-2 control-label"}}) }}
            {{ form_errors(form.menuName) }}
            <div class="col-md-9">
                {{ form_widget(form.menuName, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.state, "Statut", {"label_attr": {"class": "col-sm-2 control-label"}}) }}
            {{ form_errors(form.state) }}
            <div class="col-md-9">
                {{ form_widget(form.state, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>
    </div>
</div>

{{ form_rest(form) }}

{{ form_end(form) }}

<script src="{{ asset('bundles/dyweeckeditor/ckeditor/ckeditor.js') }}"></script>

<script>
    function showLang(idLang){
        console.log('changement langue');
        $("[aria-translatable='true'][data-idLang != '"+idLang+"']").addClass("hide");
        $("[data-idLang = '"+idLang+"']").removeClass('hide');
    }
</script>