{# Dywee\ShipmentBundle\Resources\View\Shipment\table.html.twig #}

{%  extends "DyweeShipmentBundle::admin.html.twig" %}

{% block body %}
    <div class="pull-right">
        <a href="{{ path('dywee_order_admin_table') }}" class="btn btn-default">Retour à la liste des commandes</a>
    </div>
    <div class="title-heading">
        <h1 class="text-center">Liste des Envois</h1>
    </div>
    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>Ordre</th>
            <th>Date de départ</th>
            <th>Date d'update</th>
            <th>Date de finalisation</th>
            <th>Type de livraison</th>
            <th>tracingInfos</th>
            <th>state</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {%  for shipment in shipmentList %}
            <tr>
                <td>{{ shipment.id }}</td>
                <td>{{ shipment.sendingIndex }}</td>
                <td>{{ shipment.departureDate|date('d/m/Y') }}</td>
                <td>{{ shipment.updateDate|date('d/m/Y') }}</td>
                <td>{{ shipment.endDate|date('d/m/Y') }}</td>
                <td>{{ shipment.order.deliver.name }}</td>
                <td>{{ shipment.tracingInfos }}</td>
                <td>{% include 'DyweeShipmentBundle:Shipment:state.html.twig' %}</td>
                <td> <a href="{{ path('dywee_shipment_view', {id: shipment.id}) }}" class="link-unstyled"><i class="fa fa-eye"></i> </a>
                        <a href="{{ path('dywee_shipment_note_download', {idShipment: shipment.id}) }}" class="link-unstyled"><i class="fa fa-print"></i> </a>
                        <a href="{{ path('dywee_shipment_label', {id: shipment.id}) }}" class="link-unstyled"><i class="fa fa-barcode"></i> </a>
                        {#<a href="{{ path('dywee_shipment_update', {id: shipment.id}) }}" class="link-unstyled"><i class="fa fa-pencil"></i> </a>#}
                        {#<a href="{{ path('dywee_shipment_delete', {id: shipment.id}) }}" class="link-unstyled"><i class="fa fa-trash-o"></i> </a>#}
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}